   
{% extends "base_generic.html" %}
{% block content %}

<div class="row">

  <div id="corner1"class="column">

<div class="dropdown">
  <button class="dropbtn"><i class="material-icons" style="color:green">cloud_upload</i></button>
  <div class="dropdown-content">
<a href="{% url 'jharsewa' %}">jharupdate</a>
<a href="{% url 'education' %}">EduUpdate</a>
<a href="{% url 'identy' %}">IdentyUpdate</a>
</div>
</div>

<img src="{{ person.image.url }}"style="float:right;width:100px;height:125px;" class="card-img-top img-fluid" alt="{{ person.name }}">
<h1><strong>{{person.name}}</strong></h1>
<p><strong>Phone :</strong><a href ="tel:"{{person.phone}}"">{{person.phone}}</a></p>
<p><strong>DOB :</strong>{{person.dob}}</p>
<p><strong> Mother :</strong>{{person.mother}}</p>
<p><strong> Father :</strong>{{person.father}}</p>
<p><strong> Vaccine :</strong>{{person.vaccine}}</p>

</div>

{% if person.jharsewa_set.all %}



<div id="London" class="tabcontent">
<div id ="corner2"class="column">
<h3 class="head"><i class="fa fa-certificate" style="font-size:32px;color:red"></i>jharsewa</h3>
<div style="overflow-x: auto;">
<table>
<tr>
<th><strong>Type</strong></th>
<th><stong>Regigistration No</strong></th>
<th><strong>Date of Issue</strong></th>
<th><strong>Token No</strong></th>
<th><strong><i class="material-icons">cloud_download</i></button></strong></th>
<th><strong>Update</strong></th>
<th><strong>Delete</strong></th>
</tr>
{% for jhar in person.jharsewa_set.all %}
<tr>
<td>{{jhar.type}}</td>
<td>  {{jhar.cert_no}}</td>
<td>{{jhar.date_of_issue}}</td>
<td>{{jhar.token_no}}</td>
<td><a href="{{jhar.document.url}}"><button class="btn"><i class="fas fa-file-download"style="font-size:48px;color:MediumSeaGreen ;"></i>Download</button></a></td>
<td><a href="{% url "jharupdate" jhar.id %}"><button class="btn"><i class="fa fa-refresh" style="font-size:48px;color:MediumSeaGreen"></i>Update</button></a></td>
<td><a href="{% url "jhar_del" jhar.id %}"><i class="material-icons" style="font-size:48px;color:red">delete</i></a></td>
</tr>
{%endfor%}
</table>
</div>
</div>
</div>
{% endif %}

{% if person.identy_set.all %}
<div id="Paris" class="tabcontent">
<div id="corner3" class="column">
<h3 class="head"><i class="fa-solid fa-id-card" style="font-size:32px;color:red;"></i>Identy cards</h3>
<div style="overflow-x: auto;">
<table>
<tr>
<th><strong>Type</strong></th>
<th><stong>Id No</strong></th>
<th><strong>Remark</strong></th>
<th><strong>pdf</strong></th>
<th><strong>DELETE</strong></th>
<th><strong>update</strong></th>
</tr>
{% for id in person.identy_set.all %}
<tr>
<td>{{id.id_type}}</td>
<td>  {{id.cert_no}}</td>
<td>{{id.remark}}</td>
<td>{% if id.idcard %}<a href="{% url "pdf" id.id %}"><button class="btn"><i class="fas fa-file-download"style="font-size:48px;color:MediumSeaGreen"></i>view</button></a>
{% endif %}</td>
<td><a href="{% url "id_del" id.id %}"class="btn"><i class="fa fa-remove" style="font-size:48px;color:red"></i>Delete</a></td>
<td><a href="{% url "idupdate" id.id %}"><i class="fa fa-edit" style="font-size:32px;color:blue"></i>Edit</a></td>
</tr>
{%endfor%}
</table>
</div>
</div>
</div>
{% endif %}


{% if person.education_set.all %}

<div id="Tokyo" class="tabcontent">
<div id="corner4" class="column">
<h3 class="head"><i class='fas fa-book-reader' style='font-size:32px;color:red'></i>Education</h3>
<div style="overflow-x: auto;">
<table>
<tr>
<th><strong>YOP</strong></th>
<th><stong>Passed</strong></th>
<th><strong>Board</strong></th>
<th><strong>Roll No</strong></th>
<th><strong>CGPA/%</strong></th>
<th><strong>Scored</strong></th>
<th><strong>PassDoc</strong></th>
<th><strong>MarkPdf</strong></th>
<th><strong>AdmitPdf</strong></th>
<th><strong>Delete</strong></th>
<th><strong>Update</strong></th>
</tr>
{% for edu in person.education_set.all %}
<tr>
<td>{{edu.year_of_pass}}</td>
<td>  {{edu.exam_passed}}</td>
<td>{{edu.board}}</td>
<td>{{edu.roll_no}}</td>
<td>{{edu.cgpa_perc}}</td>
<td>{{edu.scored}}</td>
<td><a href="{{edu.passing.url}}""><button class="btn"><i class="fas fa-file-download"style="font-size:48px;color:MediumSeaGreen;"></i>Download</button></a></td>
<td><a href="{{edu.marksheet.url}}""><button class="btn"><i class="fas fa-file-download"style="font-size:48px;color:MediumSeaGreen;"></i>Download</button></a></td>
<td><a href="{{edu.admit.url}}"></a><button class="btn"><i class="fas fa-file-download"style="font-size:48px;color:MediumSeaGreen;"></i>Download</button></td>
<td><a href="{% url "edu_del" edu.id %}"><i class="material-icons" style="font-size:48px;color:red">delete</i></a></td>
<td><a href="{% url "eduupdate" edu.id %}"><i class="fa fa-edit" style="font-size:48px;color:blue"></i>Edit</a></td>
</tr>
{%endfor%}
</table>
</div>
</div>
</div>
{% endif %}

{% if person.special_set.all %}
<div id="Delhi" class="tabcontent">
<div id="corner5" class="column">
<h3 class="head"><i class='fas fa-award' style='font-size:32px;color:red'></i>Specialization</h3>
<div style="overflow-x: auto;">
<table>
<tr>
<th><strong>YOP</strong></th>
<th><stong>Passed</strong></th>
<th><strong>Remark</strong></th>
<th><strong>CGPA/%</strong></th>
<th><strong>Scored</strong></th>
<th><strong>MarkPdf</strong></th>
<th><strong>AdmitPdf</strong></th>
</tr>
{% for edu in person.special_set.all %}
<tr>
<td>{{edu.year_of_pass}}</td>
<td>  {{edu.exam_passed}}</td>
<td>{{edu.specialisation}}</td>
<td>{{edu.cgpa_perc}}</td>
<td>{{edu.scored}}</td>
<td><a href="{{edu.marksheet.url}}"><button class="btn"><i class="fa fa-file-pdf-o" style="font-size:48px;color:green"></i>Download</button></a></td>
<td><a href="{{edu.admit.url}}"><button class="btn"><i class="fa fa-download"style="color:MediumSeaGreen""></i> Download</button></a></td>
</tr>
{%endfor%}
</table>
</div>
</div>
</div>
</div>
{% endif %}

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')">Jharsewa</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Issued ids</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Education</button>
  <button class="tablinks" onclick="openCity(event, 'Delhi')">Specialisation</button>
</div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
   
{% endblock %}
