{% extends "base_generic.html" %}
{% block title %}<title>Family Digilocker</title>{% endblock %}
{% block content %}
  <h1>Family Digilocker</h1>
  <p>Welcome to Digilocker, a website developed by <em>Mozilla Developer Network</em></p>
<h2>Dynamic content</h2>
  <p>The Digilocker  has the following record counts:</p>
  <ul>
    <li><strong>Total member:</strong> {{ num_person }}</li>
    <li><strong>Identy cards:</strong> {{ num_id }}</li>
    <li><strong>Jharsewa certificates:</strong> {{ num_jhar }}</li>
    <li><strong>Educational certificates:</strong> {{ num_edu }}</li>
  </ul>
<p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

{% endblock %}
